<!DOCTYPE html>
<html>
    <head>
        <title>Shorty -- A short link creator</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script>
            function createAnother() {
                $('#create').trigger("reset");
                $("#added_link").toggle();
                $("#default").toggle();
            }
        </script>
    </head>

    <body>
        <div class="header">
            <h1>Shorty</h1>
        </div>

        <div class="content" id="default">
            <h3>Create a new short link!</h3>
            <form id="create" action="/add" method="POST">
                <label>URL</label><input id="url" type="text" name="url" placeholder="Paste in a link"><br />
                <label>Name</label><input id="name" type="text" name="name" placeholder="An optional name for the link"><br />
                <input id="add_button" type="submit" value="Add">
            </form>
        </div>
        <div class="content" id="added_link" style="display: none">
            <h3>New link successfully created.</h3>
            <p id="new_link"></p>
            <p><a id="create_another" href="javascript:createAnother()">Create another link</a></p>
        </div>

        <script>
        $(document).ready(function() {
            $("form").submit(function(event) {
                var $form = $(event.target);

                $.ajax({
                    url: $form.attr('action'),
                    method: 'POST',
                    data: $form.serialize(),
                    dataType: "json",
                    success: function(result) {
                        //alert(result);
                        $("#new_link").html("<a href='" + result["url"] + "'>"
                                + result["url"] + "</a>");
                        $("#default").toggle();
                        $("#added_link").toggle();
                    },
                    error: function(result) {
                        var msg = new DOMParser().parseFromString(result.responseJSON["msg"], "text/html");
                        alert(msg.documentElement.textContent);
                    }
                });
                event.preventDefault();
            });

        });
        </script>
    </body>
</html>
